@font-face {
  font-family: "Museo Sans";
  font-weight: 700;
  src: url("../fonts/MuseoSansCyrl-700.woff") format("woff2");
 }

:root {
  --basic-green: #5AB41E;
  --basic-black: #2B2A29;
  --basic-white: white;
  --basic-grey: #999;
}

body {
  font-family: 'Museo Sans', sans-serif;

  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-around;

  color: var(--basic-black);

  height: 90vh;
}

#carbis-logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  font-size: calc(3vw);

  user-select: none;

  filter: drop-shadow();
}

#carbis-logo .base-block{
  box-sizing: border-box;

  height: 3.8em;
  width: 5em;
  border-radius: .3em;
  margin-top: .1em;

  position: relative;

  padding: .32em;

  background-color: var(--basic-grey);

  
  animation: switch-color .5s ease-in-out 1s forwards;
}

#carbis-logo .inner-block{

  box-sizing: border-box;

  background-color: var(--basic-white);
  height: 100%;
  width: 2.6em;
  border-radius: .3em;

  animation: switch .5s ease-in-out 1s forwards;
}

#carbis-logo .beholder-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  font-weight: 700;
  text-transform: uppercase;

  margin-left: .8em;
  width: 0;
  
  overflow: hidden;

  height: 4.1em;

  animation: fade-block .5s ease-in-out 1.5s forwards;
}

#carbis-logo .beholder-text span{
  margin: 0;
  padding: 0;
  line-height: 1.1em;

  white-space: nowrap;
}

#carbis-logo .beholder-text span:not(:nth-child(2)) {
  font-size: .6em;
  animation: fade-opacity 1s ease-in-out 2s forwards;
  opacity: 0;
}

#carbis-logo .beholder-text span:nth-child(1) {
  letter-spacing: .72em;
}

#carbis-logo .beholder-text span:nth-child(2) {
  font-size: 3.48em;
  line-height: .8em;
  opacity: 0;
  animation: fade-opacity .5s ease-in-out 1.6s forwards;
}

#carbis-logo .beholder-text span:nth-child(3) {
  letter-spacing: .42em;
}

@keyframes switch {
  form {
    margin-left: 0;
  } 
  to {
    margin-left: 1.7em;
  } 
}

@keyframes switch-color {
  form {
    background-color: var(--basic-grey);
  } 
  to {
    background-color: var(--basic-green);
  } 
}

@keyframes fade-block {
  from {
    display: none;
    width: 0;
  }

  to {
    display: flex;
    width: 12.1em;
  }
}

@keyframes fade-opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}